// Default

* {
  margin: 0;
  padding: 0;
}

*, *:after, *:before {
  box-sizing: border-box;
}

html {
  min-height: 100vh;
}

* {
  &::-webkit-scrollbar {
    width: 5px;
  }

  &::-webkit-scrollbar-thumb {
    background-color: #eee;
    border: none;
    border-radius: var(--border-radius-default);
  }
}

body {
  font-family: 'Ubuntu Medium', Helvetica, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-size: 16px;
  color: #4b4b4b;
}

ul, li {
  list-style: none;
}

a {
  text-decoration: none;
  cursor: pointer;
  color: #b3b3b3;
}

button {
  border: none;
  background: transparent;
  cursor: pointer;
  padding: 0;
  font-family: 'Ubuntu Medium', sans-serif;
  color: #4b4b4b;
}

input {
  border: none;
  font-family: 'Ubuntu Medium', sans-serif;
  color: #4b4b4b;
  outline: none;

}

input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
  -webkit-appearance: none;
}

input[type='number'],
input[type="number"]:hover,
input[type="number"]:focus {
  appearance: none;
  -moz-appearance: textfield;
}

.input-container {
  svg {
    max-width: 20px;
  }
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Ubuntu Regular', Helvetica, sans-serif;
  font-weight: 500;
  font-size: 32px;
}

svg {
  width: 100%;
}

// *** End of global styles



// Mixins


@mixin transitionDefault {
  transition: .44s ease;
}

@mixin transitionSmooth {
  transition: .68s cubic-bezier(0.28, 0.11, 0.32, 1);
}



// Transitions


.fade-fast-enter-active,
.fade-fast-leave-active {
  @include transitionDefault;
}

.fade-fast-enter-from,
.fade-fast-leave-to {
  transform: translate(0, 30px);
  opacity: 1;
}

.fade-slow-enter-active,
.fade-slow-leave-active {
  @include transitionSmooth;
}

.fade-slow-enter-from,
.fade-slow-leave-to {
  transform: translate(0, 230px);
  opacity: 0;
}

