@font-face {
  font-family: 'Ubuntu Regular';
  src: url('@/assets/fonts/Ubuntu-Regular.woff2') format('woff2'),
  url('@/assets/fonts/Ubuntu-Regular.woff') format('woff'),
  url('@/assets/fonts/Ubuntu-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Ubuntu Medium';
  src: url('@/assets/fonts/Ubuntu-Medium.woff2') format('woff2'),
  url('@/assets/fonts/Ubuntu-Medium.woff') format('woff'),
  url('@/assets/fonts/Ubuntu-Medium.ttf') format('truetype');
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}
