@import "assets/scss/_fonts";
@import "assets/scss/_base";



.wrapper {
  min-height: 100vh;
  display: flex;
  align-items: center;
  flex-direction: column;
  position: relative;
  padding-top: 200px;
}
